:root {
  ::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: none;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(255 255 255 / 10%);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255 255 255 / 15%);
  }
}

html,
body {
  min-height: 100%;
  margin: 0;
  color-scheme: dark;
  background-color: #121212;
}

